@media screen and (min-width: 678px) {
    body {
        background-color: red;
    }

    .nav--menu {
        position: static;
        opacity: 1;
    }

    .input-menu{
        display: inline;
}